// icarus light theme patch written by TheSnowfield
// date 10.04.2023

@import '../../include/style/const'

/* patch for avatar */
.image
    // overriding avatar parent style
    &.is-128x128,
    &.mx-auto,
    &.mb-2
        margin-top: 1.0rem !important
        margin-bottom: 1.5em !important

    .avatar
        border-radius: 20px
        border: 1px solid #00000017
        box-shadow: 0px 5px 9px 2px #00000014

/* patch for categories list item */
.card.widget[data-type="categories"]
    .card-content
        .menu
            .menu-list
                li
                    .level
                        border-radius: $radius

/* patch for article images */
.card-content.article
    .content
        img
            border-radius: $card-radius

/* patch global deletion line */
del
    border-radius: 6px
    transition: 0.1s linear
    filter: blur(4px)

del:hover,
del:active
    background: initial
    filter: blur(0px)

/* patch navigation bar */
.navbar-logo
    font-weight: 700;
    letter-spacing: 0.1em;

.navbar-main
    box-shadow: $shadow
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffffc4
    backdrop-filter: blur(20px)
    -webkit-backdrop-filter: blur(20px)

/* patch wrong color of navigation bar color */
.navbar-logo:hover
    color: $primary !important
    transition: linear 0.2s
.navbar-menu
    background-color: transparent

    a.navbar-item:focus,
    .navbar-link:focus,
    a.navbar-item:focus-within,
    .navbar-link:focus-within,
    a.navbar-item:hover,
    .navbar-link:hover,
    a.navbar-item.is-active,
    .navbar-link.is-active
        background-color: $primary !important
        color: #fff !important
        transition: linear 0.2s

.navbar-end
    .navbar-item
        i
            width: 1em
            text-align: center

/* patch cookie window */
.cc-window
    color: $text !important
    background-color: #ffffff94 !important
    backdrop-filter: blur(3px)
    -webkit-backdrop-filter: blur(3px)

/* patch search box z-index */
.searchbox
    z-index: 9999

/* patch wrong radius of tags*/
.card.widget
    .card-content
        .tags.has-addons
                span:first-child
                    border-top-left-radius: 4px
                    border-bottom-left-radius: 4px
                    border-bottom-right-radius: 0
                    border-top-right-radius: 0
                span:last-child
                    border-top-left-radius: 0
                    border-bottom-left-radius: 0
                    border-bottom-right-radius: 4px
                    border-top-right-radius: 4px

/* patch for profile buttons */
.card.widget[data-type="profile"]
    .card-content
        .level.is-mobile.is-multiline
            a:hover
                background-color: #00000014

/* patch wrong color of current page selector */
.pagination
    .pagination-link.is-current
        background: $primary

/* patch wrong color of a links */
.menu-list
    a.is-active
        color: $primary

.button.is-light, article.article
    .article-more
        border-radius: $radius

/* patch breadcomb links */
.breadcrumb a
    color: $primary

.card-content.article
    .content
        p,li
            a[target='_blank'] // patch external links
                color: $primary
                &:after
                    padding-left: 0.3rem
                    padding-right: 0.3rem
                    font-family: "Font Awesome 6 Free"
                    font-size: 12px
                    font-weight: 900
                    content: "\f08e"
                    color: lighten($primary, 20%)
                &:hover
                    text-decoration: underline;

            a:not([target='_blank']):not(.gallery-item) // patch internal links
                color: $primary
                &:after
                    padding-left: 0.3rem
                    padding-right: 0.3rem
                    font-family: "Font Awesome 6 Free"
                    font-size: 12px
                    font-weight: 400
                    content: "\f02e"
                    color: lighten($primary, 20%)
                &:hover
                    text-decoration: underline;

        code
            padding: 0
            color: darken($primary, 20%)
            background-color: tint($primary, 95%)
            overflow-wrap: break-word

        h1,h2,h3,h4,h5
            scroll-margin-top: 70px !important
            &:hover
                a
                    color: $primary
                    &::after
                        content: "#"
                        position: absolute
                        left: 0.6rem

.card-content.article
    .content
        h2
            border-bottom: 1px solid lighten($primary, 70%)
            padding-bottom: 2px

.friend-list
    list-style: none
    padding: 0px
    margin-left: 0px

    ul
        *
            vertical-align: middle

    li
        height: 60px
        margin-bottom: 16px

        &:hover
            .link-content
                padding-left: 22px
                outline: 1px solid tint($primary, 50%)
                backdrop-filter: none
                transition: all 0.2s ease-out

            .link-cover
                background-position-y: 60% !important
                transition: all 0.2s ease-out

    .ficon
        width: 40px
        border-radius: 6px
        margin-right: 16px
        height: unset
        vertical-align: sub

    .link-title
        display: inline-block

        span
            display: block
            font-size: 12px
            color: #7f7f7f

        a                    
            max-width: 70%
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap       

            color: $primary
            &:after
                padding-left: 0.3rem
                padding-right: 0.3rem
                font-family: "Font Awesome 6 Free"
                font-size: 12px
                font-weight: 900
                content: "\f08e"
                color: lighten($primary, 20%)
            &:hover
                text-decoration: underline;
        
    .link-content
        float: right
        width: 100%
        height: 100%
        padding: 9px 8px 8px 12px
        border-radius: 6px
        margin-bottom: 16px
        white-space: nowrap
        background-image: linear-gradient(to right, #ffffffef,#ffffff5f)
        backdrop-filter: blur(3px)
        outline: 1px solid #ededed
        transition: all 0.2s ease-out

    .link-cover
        width: 100%
        height: 100%
        border-radius: 6px
        background-size: 100% !important
        background-repeat: no-repeat !important
        background-position-y: 50% !important
        transition: all 0.2s ease-out

/* selection color */
::-moz-selection
    color: $white
    background: $primary

::selection
    color: $white
    background: $primary
